services:
  backend:
    build:
      context: backend
      dockerfile: Dockerfile
    volumes:
      - ./db/password.txt:/run/secrets/db-password:ro
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres
    restart: always
    user: postgres
    environment:
      - POSTGRES_DB=example
      - POSTGRES_PASSWORD=db-frknz
    expose:
      - 5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

  proxy:
    image: nginx
    volumes:
      - type: bind
        source: ./proxy/nginx.conf
        target: /etc/nginx/conf.d/default.conf
        read_only: true
    ports:
      - 80:80
    depends_on: 
      - backend
